.div-listapin{
  padding: 10px;
}

.modal-header-style{
  padding: 20px 20px 5px 15px;
}

.modal-body-style{
  padding: 0;
}

.modal-footer-style{
  padding: 5px 20px 5px 0px;
}

.modal-title-style{
  line-height: 40px;
}
