.hoverbottom {
  cursor: pointer;
  height: 60px;

  margin: 15px 15px 15px 15px;
  border-radius: 20px;
  transition: ease-out 0.5s;
  background-color: rgba(255, 255, 255, 0.041);

}

.hoverbottom:hover {
  background-color: rgba(255, 255, 255, 0.288);
  margin: 15px 15px 15px 18px;
  .img-button {
    // transform: rotate(360deg);
    height: 32px;
  }
}

.img-button {
  height: 25px;
  transition: 0.4s;
}

.hovertodos:hover{
  // background-color: #fff;
  margin: 15px 18px 15px 15px;
}

.hovernovapergunta:hover {
  background-color: rgba(255, 255, 255, 0.288);
  margin: 15px 15px 15px 18px;
}

.img {
  height: 100px;
  width: 100px;
}

.hovertop {
  cursor: pointer;
  height: 35px;
  // padding: 0px 15px 0px 15px;
  // margin: 0px 10px 0px 5px;
  margin: 2px;
  border-radius: 20px;
  transition: ease-out 0.5s;
  background-color: rgba(255, 255, 255, 0.103);

}

.img-top {
  height: 25px;
  transition: 0.3s;
}

.hovertop:hover {
  background-color: rgba(255, 255, 255, 0.904);
  margin: 0px 14px 3px 0px;
  .img-top {
    height: 30px;
    // transform: rotate(360deg);
  }
  
}

